@model Template.BL.Models.EmployeeVM


@{
    ViewData["Title"] = "Create";
}


<br />

<a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Back To Data</a>

<br />

<h2>Create</h2>


<form asp-controller="Employee" asp-action="Create" class="form-group" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>


    <label asp-for="Name">Employee Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
    <br />


    <label asp-for="Address">Employee Address</label>
    <input type="text" class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
    <br />

    <label asp-for="HireDate">Employee HireDate</label>
    <input type="date" class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
    <br />


    <label asp-for="Email">Employee Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />


    <label asp-for="Notes">Employee Notes</label>
    <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Notes" class="text-danger"></span>
    <br />

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="">
        <label asp-for="IsActive">IsActive</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <br />


    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList">
        <option>Choose Department</option>
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
    <br />

    <select id="CountryList" asp-items="(SelectList)ViewBag.CountryList">
        <option>Choose Country</option>
    </select>
    <br />

    <select id="CityList">
        <option>Choose City</option>
    </select>
    <br />

    <select asp-for="DistrictId">
        <option>Choose District</option>
    </select>
    <span asp-validation-for="DistrictId" class="text-danger"></span>
    <br />

    <label asp-for="Cv">Upload Cv</label>
    <input type="file" class="form-control" asp-for="Cv" />
    <span asp-validation-for="Cv" class="text-danger"></span>
    <br />

    <label asp-for="Img">Upload Photo</label>
    <input type="file" class="form-control" asp-for="Img" />
    <span asp-validation-for="Img" class="text-danger"></span>
    <br />


    <center>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="reset" class="btn btn-danger" value="Clare" />
    </center>

</form>


@section MicrosoftValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

   <script>

       $(function () {

           $("#CountryList").change(function () {

               var CountryId = $("#CountryList option:selected").val();

               $("#CityList").empty();
               $("#CityList").append("<option>Choose City</option>");

               $.ajax({

                   type: "POST",
                   url: "/Employee/GetCityDataByCountryId",
                   data: { CtryId: CountryId },
                   success: function (res) {

                       $.each(res, function (i, e) {
                           $("#CityList").append("<option value='"+e.Id+"'>"+e.CityName+"</option>")
                       });

                   }

               });
           });


           $("#CityList").change(function () {

               var CityId = $("#CityList option:selected").val();

               $("#DistrictId").empty();
               $("#DistrictId").append("<option>Choose District</option>");

               $.ajax({

                   type: "POST",
                   url: "/Employee/GetDistrictDataByCityId",
                   data: { CtyId: CityId },
                   success: function (res) {

                       $.each(res, function (i, e) {
                           $("#DistrictId").append("<option value='" + e.Id + "'>" + e.DistrictName + "</option>")
                       });

                   }

               });
           });


       });


   </script>

}


